<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>travelExtraBoldItalic</key>
	<string>OpenSans-ExtraboldItalic</string>
	<key>travelSemiBoldItalic</key>
	<string>OpenSans-SemiboldItalic</string>
	<key>travelExtraBold</key>
	<string>OpenSans-Extrabold</string>
	<key>travelBoldItalic</key>
	<string>OpenSans-BoldItalic</string>
	<key>travelItalic</key>
	<string>OpenSans-Italic</string>
	<key>travelSemiBold</key>
	<string>OpenSans-Semibold</string>
	<key>travelLight</key>
	<string>OpenSans-Light</string>
	<key>travelRegular</key>
	<string>OpenSans</string>
	<key>travelLightItalic</key>
	<string>OpenSansLight-Italic</string>
	<key>travelBold</key>
	<string>OpenSans-Bold</string>
</dict>
</plist>
